body {
    /*
    background: linear-gradient(
    rgb(74, 254, 152) 45%, rgb(0, 234, 255) 100%); 
    */
    background: rgb(253,255,100);
    background: linear-gradient(180deg,
    rgba(253,255,100,1) 0%, rgba(157,250,52,1) 57%, 
    rgba(46,203,39,1) 100%);
    color:rgb(43, 0, 123);
    font-size: 1.05em;
}
body > * {
    font-family: Tahoma;
}
#covid {
    width: 100%;
    padding: 5px;
}

header {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    padding:0;
    margin: 0;
    color: rgb(58, 58, 58);
}
#page-title {
    font-weight: 500;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
#denise-card {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.9);
}
.teacher-imgs {
    width:100%;
    height:auto;
    border-radius: 5%;
}
#header-logo {
    max-width:100%; 
    height:auto;
}
#collapsible-navbar > ul {
   text-align: center;
}
#fb-jumbo {
    border-radius: 15px;
    background-color: rgb(255, 186, 67);
}
#fb-jumbo > h3 > a{
    text-decoration: none;
    color:rgb(11, 3, 237)
}
#fb-jumbo > h3 > a:hover{
    color:rgb(43, 0, 123);
}
#carousel-item {
    max-width: 100%;
    max-height: min-content;
}
#contact-form {
    background-color: rgb(255, 83, 9);
    color: white;
    border-radius: 5%;
}
#contact-form > * > label {
    color: black;
}
.gal-imgs {
    max-width: 100%;
    height: auto;
    margin: 4px;
}
#portal {
    padding: 1em;
    text-align: center;
    /*background-color: aquamarine;*/
}

#archive {
    transform: translateY(10%);
}
#archive-list a {
    text-decoration: none;
}
.form-links {
    text-decoration: none;
}
.rolodex {
    display: none;
    visibility: hidden;
    font-size: larger;
}
.rolo-words {
    list-style-type: none;
}
#program-promise {
    display: block;
    font-style: italic;
}

.pro-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    width: 90%; 
    height: 180px;
    background-color: rgb(255, 77, 0);
}
.programs {
    color: white;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.program-title {
    padding-top: 0%;
    margin-top: 0%;
}
.program-icon {
    filter:invert();
    width: 50px;
    height: 50px;
}
.program-sub {
    font-style: italic;
    text-align: center;
    display: block;
}
.program-details{
    height: max-content;
}
.pro-wrap:hover {
    transform: scale(1.05);
}
.pro-wrap:hover .program-icon {
    transform: scale(1.15);
}

.program-details {
    display: none;
    text-align: left;
    margin-left: 5px;
    list-style-type: circle;
}
#upload-form {
    width: 50%;
    margin: auto;
}
#socials {
    list-style-type: none;
    width: 80%;
}
#socials > a > i {
    font-size: 36px;
}
#fb {
    color: rgb(0, 95, 190);
}
#ig {
    color: rgb(180, 55, 195);
}
#yt {
    color: rgb(200, 0, 0);
}
#tw {
    color: rgb(100, 175, 255);
}
#collapsible-navbar {
    color:black;
}

.faq {
    padding: 0;
    margin: 0;
     
}
footer {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0;
}
#hours > * {
    margin: 0;
    padding-top: 0;
    padding: 0.25rem;
}
#hours > h4 {
    padding-bottom: 1rem;
}